@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
  /*font-family: */
}

/* The animation code */
@keyframes slideIn {
  0%   { top:-600px; }
  90%  { top: 20px;  }
  100% { top: 0px;   }
}

.body {
  animation-name: slideIn;
  width: 100%;
  height: 100%;
  position: relative;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.5,.2,.9,.6);
  font-family: Montserrat;

}

#App-header {
  overflow: hidden;
  /*background-color: #FFE5B5;*/
  background-color: #37301D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url("Images/Nunu2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #37301D;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.App-link {
  color: #61dafb;
}

/*div {
  outline: solid blue 1px;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #C95934;
}

a:hover {
  size: 15px;
  color: #C95934;
}

.link {
  color: #BC5331;
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-box {
  position: absolute;
  background: #424555;
  width: 200px;
}

#top-left {
  left: 0px;
  top: 0px;
}

#top-right {
  right: 0px;
  top: 0px;
}

#bottom-right {
  right: 0px;
  bottom: 0px;
}

#bottom-left {
  left: 0px;
  bottom: 0px;
}

.my-zone {
  margin-left: 20px;
  font-size: 100px;
  color: black;
}

#code {
  background-color: #FFE5B5;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.topic-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.disclaimer {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  font-size: 17px;
}

.center-text {
  margin-left: 20px;
  text-align: left;
}

#github-link {
  margin-top: 20px;
  background-color: #424555;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  position: absolute;
  height: 40px;
  overflow: hidden;
  /*this is kinda a hack but I don't care...*/
  left: 83.33%;
  bottom: 0;
  right: 0;
}

#art #github-link {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
}

#game-link {
  padding: 0px;
  height: 60px;
  background-color: #424555;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  line-height: 60px;
}


img {
  width: 100%;
}

.test {
  padding-bottom: 0px;
  margin-bottom: 0px;
  cool: true;
}

#art h2 {
  color: #2e382e;
}

#words h2 {
  color: #6c2913;
}

#games h2 {
  color: #293d3d;
}

.blurb {
  font-size: 20px;
  width: 100%;
  color: #6c2913;
  margin-top: 0px;
  text-align: center;
}

.outline {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.story-link {
  display: table-cell;
  height: 70px;
  width: 2000px;
  padding: 10px;
  border: 3px dashed #394639;
  vertical-align: middle;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
}

.story-link a {
  color: #394639;
}

.img-border {
  border: solid 2px #394639;
}

.heading {
  text-align: left;
  color: #424555;
  margin: 10px;
  padding: 0px;
}

ul {
  list-style-type: none;
  text-align: left;
}

#art {
  background-color: #819881;
}

#games {
  background-color: #669999;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#words {
  background-color: #e48767;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#landing {
  background-color: rgba(250,250,250,0.4);
}

/*Stuff for Columns*/
.grid-container{
  width: 100%; 
  max-width: 1500px;
  margin:0 auto;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear: both;
}

[class*='col-'] {
  float: left; 
  /*min-height: 1px; */
  height: 100%;
  width: 16.66%; 
  /*-- our gutter -- */
  padding: 12px; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }





