.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #FFE5B5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url("Nunu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #37301D;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link {
  text-decoration: none;
}

a:hover {
  size: 15px;
  color: #C95934;
}

.link {
  color: #BC5331;
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-box {
  position: absolute;
  background: #424555;
  width: 200px;
}

#top-left {
  left: 0px;
  top: 0px;
}

#top-right {
  right: 0px;
  top: 0px;
}

#bottom-right {
  right: 0px;
  bottom: 0px;
}

#bottom-left {
  left: 0px;
  bottom: 0px;
}

.my-zone {
  margin-left: 20px;
  font-size: 100px;
  color: black;
}
