.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: rgb(250,0,0);
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-right {
  position: absolute;
  background: rgb(0,0,250);
  width: 200px;
  left: 0px;
  top: 0px;
}

.top-left {
  position: absolute;
  background: rgb(0,0,250);
  width: 200px;
  right: 0px;
  top: 0px;
}
